.topbar {
  background-color: rgb(204, 206, 86);
ul {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  text-transform: uppercase;
}

  &__item {
    padding: 0px 20px;
    list-style-type: none;
    color: red;

  }
}