* {
  padding: 0;
  margin: 0;
  background: rgb(212, 208, 208);

}



.wrapper {
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  height: 300px;
  display: flex;
  transform: translate(50%, 50%);

  .sidebar{
  width: 100px;
  background: rgb(86, 108, 206);
  }
  .header-content {
    width: 100%;
    max-width: 250px;
    .header{
    height: 70px;
    background: rgb(86, 206, 122);
    }
    .content{
     height: calc(100% - 70px);

    background: rgb(204, 206, 86);
    &__item{
      background: rgb(204, 206, 86);
    }
    }
  }
 
  
}